<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Your-Home</title>
</head>

<body>

    <!-- Navigation Section -->
    <nav class="navigation">
        <div class="elements">
            <div class="logo">
                <h3>AtHome</h3>
            </div>
            <ul class="navbar">
                <li class="li"><a href="/">Home</a></li>
                <li class="li drop"><a href="#">Services
                        <div class="down">
                            <div class="down-img">
                                <img src="/img/glasses.jpeg" alt="">
                                <img src="/img/shoes.webp" alt="">
                                <img src="/img/watch.jpg" alt="">
                            </div>
                            <ul>
                                <div class="delivery">
                                    <h2>Delivery</h2>
                                    <p>We deliver your products<br>at your doorstep</p>
                                </div>
                                <div class="delivery">
                                    <h2>Payments</h2>
                                    <p>You can done safe Payments<br>via debit cards or cash on delivery</p>
                                </div>
                                <div class="delivery">
                                    <h2>Return</h2>
                                    <p>Our return policy is best<br>Return only in 7 days</p>
                                </div>
                            </ul>
                        </div>
                    </a></li>
                <li class="li"><a href="#">About</a></li>
                <li class="li drop"><a href="#">Contact
                    <div class="down">
                        <div class="down-img">
                            <a href="/signIn"><button>SignUp</button></a>
                            <a href="/signIn"><button>SignIn</button></a>
                            <button>Text Us</button>
                        </div>

                        <ul>
                            <div class="delivery">
                                <h2>Phone</h2>
                                <p>0317-5154487</p>
                            </div>

                            <div class="delivery">
                                <h2>Watsapp</h2>
                                <p>0317-5154487</p>
                            </div>

                            <div class="delivery">
                                <h2>facebook</h2>
                                <p>www.facebook.com</p>
                            </div>
                        </ul>
                    </div>
                </a></li>
            </ul>
        </div>
        <div class="written">
            <h2>The Brands You Want</h2>
            <h4>Perfect Match To Your Personality</h4>
            <button>Shop Now</button>
        </div>
    </nav>

    <!-- hero-section -->
    <div class="container">
        <div class="hero-img">
            <img src="/img/shopping-man.jpg" alt="">
        </div>
        <div class="hero-text">
            <h1>Shop Now</h1>
            <p>This is one of the best <br>to buy everything you<br>want in reasonable prices...</p>
        </div>
    </div>

    <!-- catagories-section -->
    <div class="catagories">

        <!-- <% show.forEach(function(findModel,index){ %>
            <div class="glasses">
                <img src="/img/<%-findModel.img%>" alt="">
                <h1><%-findModel.name%></h1>
            </div>
        <% }) %> -->



        <div class="glasses">
            <img src="/img/glasses.jpeg" alt="">
            <h1>Glasses</h1>
        </div>
        <div class="glasses">
            <img src="/img/watch.jpg" alt="">
            <h1>Watches</h1>
        </div>
        <div class="glasses">
            <img src="/img/shoes.webp" alt="">
            <h1>Shoes</h1>
        </div>
    </div>

    <!-- Latest-products -->
    <div class="latest-product">
        <h1>Latest-Products</h1>
        <div class="products">
            <div class="inner">
                <div class="product-img">
                    <img src="/img/product1.jpg">
                </div>
                <div class="product-details">
                    <h3>Perfect glasses</h3>
                    <p>70$</p>
                    <button>Details</button>
                </div>
            </div>

            <div class="inner">
                <div class="product-img">
                    <img src="/img/product2.jfif">
                </div>
                <div class="product-details">
                    <h3>Blue watch</h3>
                    <p>100$</p>
                    <button>Details</button>
                </div>
            </div>

            <div class="inner">
                <div class="product-img">
                    <img src="/img/shoes.webp">
                </div>
                <div class="product-details">
                    <h3>Shoes</h3>
                    <p>135$</p>
                    <button>Details</button>
                </div>
            </div>

            <div class="inner">
                <div class="product-img">
                    <img src="/img/product4.jpg">
                </div>
                <div class="product-details">
                    <h3>Heavy glasses</h3>
                    <p>150$</p>
                    <button>Details</button>
                </div>
            </div>

            <div class="inner">
                <div class="product-img">
                    <img src="/img/product5.jfif">
                </div>
                <div class="product-details">
                    <h3>Perfect Watch</h3>
                    <p>110$</p>
                    <button>Details</button>
                </div>
            </div>
        </div>
    </div>

    <!-- signup-section -->
    <div class="signup-section">
        <div class="ourr">
            <div class="login">
                <a href="/signIn"><button>LogIn</button></a>
                <a href="/signIn"><button>SignUp</button></a>
            </div>
            <div class="offer">
                <h3>Let's SignUp to Shop <span>because</span></h3>
                <h3>Best Offer are <span>Waiting</span> for you</h3>
            </div>
        </div>
    </div>

    <!-- footer-section -->
    <div class="footer-section">
        <div class="contt">
            <div class="navi">
                <h3>NAVIGATION</h3>
                <p>Home</p>
                <p>Catagory</p>
                <p>About</p>
                <p>Services</p>
            </div>
            <div class="navi">
                <h3>CATAGORY</h3>
                <p>Shoes</p>
                <p>Glasses</p>
                <p>Watches</p>
                <p>Wallet</p>
            </div>
            <div class="navi">
                <h3>CONTACT US</h3>
                <p>facebook</p>
                <p>instagram</p>
                <p>watsapp</p>
                <p>phone</p>
            </div>
        </div>
    </div>
</body>

</html>