<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign.css">
    <title>SignUp Page</title>
</head>
<body>
    <div class="elements">
        <div class="logo">
            <h3>AtHome</h3>
        </div>
        <ul class="navbar">
            <li class="li"><a href="/">Home</a></li>
            <li class="li drop"><a href="#">Services
                    <div class="down">
                        <div class="down-img">
                            <img src="" alt="">
                            <img src="/img/shoes.webp" alt="">
                            <img src="/img/watch.jpg" alt="">
                        </div>
                        <ul>
                            <div class="delivery">
                                <h2>Delivery</h2>
                                <p>We deliver your products<br>at your doorstep</p>
                            </div>
                            <div class="delivery">
                                <h2>Payments</h2>
                                <p>You can done safe Payments<br>via debit cards or cash on delivery</p>
                            </div>
                            <div class="delivery">
                                <h2>Return</h2>
                                <p>Our return policy is best<br>Return only in 7 days</p>
                            </div>
                        </ul>
                    </div>
                </a></li>
            <li class="li"><a href="#">About</a></li>
            <li class="li drop"><a href="#">Contact
                <div class="down">
                    <div class="down-img">
                        <button>SignUp</button>
                        <button>SignIn</button>
                        <button>Text Us</button>
                    </div>

                    <ul>
                        <div class="delivery">
                            <h2>Phone</h2>
                            <p>0317-5154487</p>
                        </div>

                        <div class="delivery">
                            <h2>Watsapp</h2>
                            <p>0347-8683097</p>
                        </div>

                        <div class="delivery">
                            <h2>facebook</h2>
                            <p>www.facebook.com</p>
                        </div>
                    </ul>
                </div>
            </a></li>
        </ul>
    </div>

    <!-- form-secton -->
    <div class="form">
        <h1>Sign-Up Page</h1>
        <form action="/signIn" method="POST">
            <div class="inputt">
                <input type="text" placeholder="Enter Your Name" name="name">
            </div>
            <div class="inputt">
                <input type="email" placeholder="Enter Email" name="email">
            </div>
            <div class="inputt">
                <input type="number" placeholder="Enter Your Phome.NO" name="phone">
            </div>
            <div class="inputt">
                <input type="password" name="password" id="" placeholder="Password">
            </div>
            <div class="inputt">
                <input type="password" name="" id="" placeholder="Confirm Password">
            </div>
            <div class="inputt">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</body>
</html>